		.home-container{
			width: 1100px;
			margin: 0 auto;
			padding: 100px 100px;
			text-align: center;
		}
		#page-container{
			width: 1100px;
			margin: 0 auto;
		}
		body {
			margin: 0;
			background: url(pexels-photo-1040473.jpeg);
			background-repeat: no-repeat;
			background-size: 100%;
			background-size: cover
		}
		header {
			width: 1100px;
		}
		#content {
			background-color: rgba(250, 250, 250, 0.3);
		}
		#About {
			background-color: rgba(250, 250, 250, 0.1);
			width: 440px;
			height: 170px;
			margin-left: auto;
			margin-right: auto;
		}
		#insta {
			background-color: rgba(250, 250, 250, 0.1);
			width: 440px;
			height: 530px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#insta img {
			display: block;
			width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
		form {
			color: #880E4F;
			font-family: Arial, sans-serif;
			padding-left: 20px;
			padding-top: 5px;
		}
		#col1 h2 {
			font-family: Noto Sans, sans-serif;
			color: #FFEBEE;
			text-align: center;
		}
		#firstheading {
			padding-top: 35px;
		}
		p {
			margin: 5px 10px;
		}
		.img-logo {
			padding-left: 90px;;
		}
		.img-logo2 {
			width: 500px;
		}
		footer {
			text-align: center;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 1rem;
		}
		#introcontact {
			background-color: rgba(136, 14, 79, 0.5);
			width: 440px;
			height: 50px;
			margin-left: auto;
			margin-right: auto;
			font-family: Noto Sans, sans-serif;
			color: #FFEBEE;
			text-align: center;
			padding-top: 10px;
		}
		#introportfolio {
			margin-left: auto;
			margin-right: auto;
			font-family: Noto Sans, sans-serif;
			color: #FFEBEE;
			text-align: center;
			padding-top: 10px;
		}
		#contactfooter {
			padding-top: 20px;
		}
		nav {
			display:flex;
			justify-content:center;
			align-items:center;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		li {
			float: left;
		}
		#resumeul {
			list-style-type: circle;
			overflow: hidden;
			float: none;
			padding: 10px;
		}
		#resumelist {
			float: none;
			color: #880E4F;
		}
		a {
			display: block;
			padding: 8px;
			font-family: Comic Sans MS, Comic Sans, cursive;
			font-size: 20px;
			text-transform: uppercase;
		}
		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		li a:hover {
			color: #F8BBD0;
		}
		.active {
			color: #F8BBD0;
		}
		.resume-nav {
			float: left;
			padding-top: 20px;
			padding-left: 20px;
			text-align: center;
		}
		.fa {
			  padding: 10px;
			  font-size: 20px;
			  width: 20px;
			  text-align: center;
			  text-decoration: none;
			  margin: 10px 4px;
			  border-radius: 75%;
			  display: inline-block;
			}
		.fa:hover {
			background: #F06292;
			opacity: 0.7;
		}
		.fa-facebook {
			background: #F06292;
			color: white;
			
		}
		.fa-instagram {
			background: #F06292;
			color: white;
			
		}
		.fa-youtube {
			background: #F06292;
			color: white;
			
		}
		.fa-google {
			background: #F06292;
			color: white;
			
		}
		.portrait {
			size: 360px;
		}
		.about {
			padding-top: 20px;
			padding-right: 10px;
		}
		.education {
			padding-right: 10px;
		}
		#name {
			width: 250px;
			display: inline-block;
			color: #880E4F;
			font-family: Arial, sans-serif;
			padding-left: 20px;
			text-align: right;
		}
		#info {
			width: 550px;
			background-color: rgba(250, 250, 250, 0.1);
			display: inline-block;
			color: #880E4F;
			font-family: Arial, sans-serif; 
		}
		#info h2 {
			padding-left: 5px;
		}
		#info h3 {
			padding-left: 10px;
		}
		#skillsinfo {
			width: 550px;
			display: inline-block;
			background-color: rgba(250, 250, 250, 0.1);
			color: white;
			font-family: Arial, sans-serif; 
		}
		#aboutpic {
			display: inline-block;
			float: right;
			width: 250x;
			background-color: rgba(250, 250, 250, 0.1);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin-bottom: 25px;
		}
		#aboutpic img {
			width: 250px;
		}
		#polaroid {
			text-align: center;
			padding: 10px 20px;
			font-family: 'Alex Brush'; font-size: 17px;
			color: #880E4F;
		}
		#educationpic {
			display: inline-block;
			float: right;
			display: inline-block;
			float: right;
			width: 250x;
			background-color: rgba(250, 250, 250, 0.1);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin-bottom: 25px;
		}
		#educationpic img {
			width: 250px;
		}
		#workpic {
			display: inline-block;
			float: right;
			display: inline-block;
			float: right;
			width: 250x;
			background-color: rgba(250, 250, 250, 0.1);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin-bottom: 25px;
		}
		#workpic img {
			width: 250px;
		}
		#skillsinfo h3 {
			color: #880E4F;
			font-family: Arial, sans-serif; 
			padding-left: 10px;
		}
		iframe {
			margin: 20px 20px;
		}